@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url('./assets/fonts/lemon_milk/LEMONMILK-Medium.otf');
    font-family: 'LemonMilk';
    font-weight: 500;
    font-style: normal;
}

@layer base {
    .transition {
        transition: all 0.3s ease-in-out;
    }
    .hero_main {
        background: url('./assets/images/hero_main.svg') no-repeat;
    }
    .city_bg {
        background: url('./assets//images/city.svg') no-repeat center;
        background-size: cover;
        mix-blend-mode: overlay;
    }
    .k {
        @apply md:grid md:grid-cols-[100px_400px]  border-black;
    }
    input[type="text"] {    
        @apply border-b-2 ml-10 border-gray-300;
    }
    .h1 {
        font-size: clamp(2rem, 8vw, 5rem);
    }

    .h2 {
        font-size: clamp(1.5rem, 4vw, 3rem);
    }

}       